* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}

body{
    background-color: yellow;
}

.searchBase{
    display: flex;
}

.search{
    height: 5vh;
    outline: none;
    padding: 2rem 1rem;
    font-size: 2rem;
    font-family: system-ui;
    font-weight: 600;
    border: none;
    background-color: #065f2e;
    color: lime;
    flex: 1 1 90%;
}

.search:focus{
    background-color: rgb(26, 138, 84);
    color: white;
}

.button{
    background-color: chartreuse;
    color: black;
    padding: .98rem 3rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 800;
    flex: 1 1 10%;
}

.base-card {
    padding: 10px 15px 10px 10px;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    font-family: calibri;
}

.card {
    flex: 0 1 14rem;
    background-color: #065f2e;
    box-shadow: 1px 1px 10px #00000050;
    border-radius: 10px;
}

.img-base {
    display: flex;
    overflow-x: hidden;
}

.img {
    flex: 1 1 14rem;
    width: 20rem;
    object-fit: cover;
    background-color: yellowgreen;
    border-radius: 9px 9px 2px 2px;
}

.details {
    padding: 20px;
}

.pokeDetails {
    font-weight: 100;
    color: lime;
}

.details>h1 {
    text-transform: uppercase;
}