* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: yellow;
}

.searchBase{
    display: flex;
    margin: 10px auto;
    justify-content: center;
    width: 80%;
}

.search{
    height: 5vh;
    outline: none;
    padding: 2rem 1rem;
    font-size: 2rem;
    font-family: system-ui;
    font-weight: 600;
    border: none;
    background-color: #065f2e;
    color: lime;
    flex: 2 1 auto;
}

.search:focus{
    background-color: rgb(26, 138, 84);
    color: white;
}

.button{
    background-color: yellowgreen;
    color: white;
    padding: 0rem 2rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 800;
    flex: .5 1 10%;
}

.base-card {
    padding: 10px 15px 10px 10px;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    color: white;
    font-family: calibri;
}

.card {
    flex: 0 1 10vw;
    background-color: #065f2e;
    box-shadow: 1px 1px 10px #00000050;
    border-radius: 10px;
}

.img-base {
    display: flex;
    overflow-x: hidden;
}

.img {
    flex: 1 1 10rem;
    width: 20rem;
    object-fit: cover;
    background-color: yellowgreen;
    border-radius: 9px 9px 2px 2px;
}

.details {
    padding: 20px;
}

.pokeDetails {
    font-weight: 100;
    color: lime;
}

.details>h1 {
    text-transform: uppercase;
}

.paginators{
    display: inline-block;
    padding: 10px 15px;
    margin: 5px 5px;
    background-color: brown;
    color: white;
    cursor: pointer;
    /* font-size: 20px; */
    font: 20px 700;
}

.view{
    position: fixed;
    width: 5vw;
    bottom: 20%;
    background-color: slateblue;
    color: white;
    padding: 8px 12px;
    border: none;
    right: 0;
    white-space: wrap;
}
